@import "tailwindcss";

@theme {
  --breakpoint-initial: *;
  --breakpoint-sm: 520px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 930px;
  --breakpoint-xl: 1180px;

}
@utility container{
    @apply mx-auto
}